<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="mobile-web-app-capable" content="yes" />
    <title>Name</title>
  </head>
  <body>
    <h1>Name</h1>
    <form method="POST" name="calculator">
      {% if error %}
      <p style="color:red">This equation does not have real number solution.</p>
      {% endif %}
      <p>
        Please enter name and gender:
      </p>
      <p>name:
        <input type="text" size="10" name="name" />
      </p>

      <p>gender (M or F):
        <input type="text" size="10" name="gender" />
      </p>
      
      <p>
        <input type="submit" value="Magic Happens" />
      </p>
    </form>
  </body>
</html>