<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Name</title>
  </head>
  <body>
    <h1>Name</h1>
    <form method="POST" name="calculator">
      {% if error %}
      <p style="color:red">This equation does not have real number solution.</p>
      {% endif %}
      <p>
        Please enter name and gender:
      </p>
      <p>name:
        <input type="text" size="10" name="name" />
      </p>

      <p>gender (M or F):
        <input type="text" size="10" name="gender" />
      </p>
      
      <p>
        <input type="submit" value="Magic Happens" />
      </p>
    </form>
  </body>
</html>